body {
    text-align: center;
    background: rgb(250, 186, 0);
    background: radial-gradient(circle, rgba(250, 186, 0, 1) 0%, rgba(252, 70, 70, 1) 100%);
}

div.page {
    position: relative;
    width: 1000px;
    margin: auto;
}

div.header {
    border: 10px double bisque;
    position: relative;
    margin: auto;
    display: inline-block;
    width: 100%;
    padding: 5px;
}

div.footer {
    position: relative;
    bottom: 160px;
    display: inline-block;
}


/* div.header {
    background-color: #ddc;
    border: solid 5vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 5px;
    position: relative;
    text-align: center;
}

div.header:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin;
}

div.header:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
} */

div.score {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    position: relative;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    color: rgb(240, 240, 240);
    line-height: 30px;
    display: inline-block;
}

div.score span {
    margin-left: 80px;
    vertical-align: middle;
}

div.score .best-score {
    margin-left: 0px;
    vertical-align: middle;
}

div.buttons {
    float: left;
    margin-left: 10px;
    padding-left: 10px;
}

div.time {
    float: left;
    width: 150px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 95px;
}

div.safe-clicks {
    float: right;
    margin-right: 22px;
}

div.unmarked-mines {
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
    color: rgb(255, 240, 231);
    line-height: 100%;
    display: inline-block;
    margin-right: -72px;
}

div.manual-mine-btn {
    position: absolute;
    top: 68%;
    left: 68%;
    transform: translate(-50%, -50%);
}

div.hints {
    margin-top: 30px;
    margin-right: -153px;
    float: right;
}

.stopwatch {
    font-family: "Roboto Mono", monospace;
    font-size: 65px;
    color: rgb(255, 240, 231);
    vertical-align: middle;
    line-height: 100%;
}

table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 800px;
    transform: translate3d(0px, -120px, 0px) perspective(75em) rotateX(18deg) scale(0.8);
    box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px, rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
    border-radius: 10px;
    border: 5px solid;
    border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
}

td {
    position: relative;
    width: 70px;
    height: 70px;
    font-size: 35px;
    font-family: 'Segoe UI';
    cursor: pointer;
    border: 3px groove goldenrod;
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

td.shown {
    transition: all 0.3s linear;
    background-color: rgb(233, 233, 233);
}

td.shown-clicked-mine {
    background-color: tomato;
}

td.shown-manual-mine {
    transition: all 0.3s linear;
    background-color: tomato;
}

td.shown-expanded {
    background-color: rgb(180, 180, 180);
}

td span.content {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    vertical-align: middle;
}

td span.content.num1 {
    color: blue
}

td span.content.num2 {
    color: green
}

td span.content.num3 {
    color: red
}

td span.content.num4 {
    color: purple
}

td span.content.shown {
    opacity: 1;
}

td span.content.hinted {
    animation: hint 3s linear infinite alternate;
}

td span.flagged {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

td span.flagged.shown {
    transition: all 0.3s linear;
    opacity: 1;
}

td.safe-click {
    transition: all 2s linear;
    animation: pulse 1s ease-in infinite;
    background-color: rgb(218, 80, 0);
    z-index: 1;
}

button {
    margin: 2px;
    padding: 5px 15px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}

button.level {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
}

button.safe-click {
    width: 140px;
    background-image: linear-gradient(to right, #2f78ff 0%, #19bef0 51%, #2f78ff 100%);
}

button.safe-click:disabled {
    pointer-events: none;
    background-image: linear-gradient(to right, #333333 0%, #a7a7a7 51%, #333333 100%);
}

button.undo {
    float: right;
    margin-top: 1px;
    margin-right: 80px;
    width: 140px;
    background-image: linear-gradient(to right, #c39292 0%, #c3c3c3 51%, #c39292 100%);
}

button.manual-mines {
    text-align: center;
    outline: none;
    color: #fff;
    border: none;
    box-shadow: 0 5px #999;
    width: 200px;
    height: 10px;
    margin: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    background-image: linear-gradient(to right, #ff9100c9 0%, #a18400 51%, #ff9100c9 100%);
}

button.manual-mines:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.manual-mines.active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.manual-mines:disabled {
    pointer-events: none;
    background-image: linear-gradient(to right, #333333 0%, #a7a7a7 51%, #333333 100%);
}

button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.hint,
.mood,
.life {
    cursor: pointer;
}

.mood {
    position: absolute;
    top: 45%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

.hint {
    font-size: 50px;
}

.life {
    position: relative;
    top: 10px;
    float: left;
    vertical-align: middle;
    font-size: 50px;
}

.hint.unused {
    opacity: 1;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.life.used {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

@keyframes pulse {
    25% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
}

@keyframes hint {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}